{% extends "base.html.twig" %}

{% block title %}{{ parent() }} :: {{ 'reading_room.template.author_details' | trans( {},'ReadingRoom' ) }} :: {{ author.name }}{% endblock %}
{% block pageTitle %}{{ 'reading_room.template.author_details' | trans( {},'ReadingRoom' ) }}: {{ author.name }}{% endblock %}

{% block content %}
    {% if author.photos.first %}
        {% set authorPicture = path( 'vs_cms_images_filesystem_get_file', { file: picturesPath ~ '/' ~ author.photos.first.path } ) %}
    {% else %}
        {% set authorPicture = '/build/bootstrap-shop-theme/images/products/6.jpg' %}
    {% endif %}
    
    <section class="bg-sand padding-medium">
        <div class="container">
            <div class="row">

                <div class="col-md-5">
                    <a href="#" class="product-image">
                        <img src="{{ authorPicture }}">
                    </a>
                </div>

                <div class="col-md-7 pl-5">
                    <div class="product-detail">
                        <h1>{{ author.name }}</h1>
                        
                        <div id="ProductDescriptionContainer" class="mt-3">
                            {{ author.description | raw }}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    
    {% if author.books | length %}
        <section id="related-products" class="bookshelf pb-5 mb-5">
            <div class="container">
                <div class="section-header align-center">
                    <h2 class="section-title">{{ 'reading_room.form.author.books' | trans( {},'ReadingRoom' ) }}</h2>
                </div>
            </div>
        
            <div class="container">
                {% for productsRow in author.books | batch( 4 ) %}
                    <div class="row">
                        <div class="inner-content">
                            <div class="product-list">
                                <div class="grid product-grid">
                                    {% for product in productsRow %}
                                        {% if product.getPicture( 'product_thumbnail' ) %}
                                            {% set bookThumbnail = product.getPicture( 'product_thumbnail' ) %}
                                        {% endif %}
                                        
                                        <div class="product-item">
                                            <figure class="product-style">
                                                <a href="{{ path( 'vs_catalog_catalog_product_show', {'categorySlug': 'latest', 'productSlug': product.slug} ) }}">
                                                    <img src="{{ bookThumbnail.path | imagine_filter( 'index_page_thumbnail' ) }}"
                                                        alt="Books"
                                                        class="product-item"
                                                    >
                                                </a>
                                                {#
                                                <button type="button" class="add-to-cart" data-product-tile="add-to-cart">
                                                    Add to Cart
                                                </button>
                                                #}
                                            </figure>
                                            
                                            <figcaption>
                                                <a href="{{ path( 'vs_catalog_catalog_product_show', {'categorySlug': 'latest', 'productSlug': product.slug} ) }}">
                                                    <h3>{{ product.name }}</h3>
                                                </a>
                                            </figcaption>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div><!--inner-content-->
                    </div>
                {% endfor %}
            </div>
        </section>
    {% endif %}
{% endblock %}
