{% extends "base.html.twig" %}

{% block title %}{{ parent() }} :: {{ 'vs_application.menu.catalog_products' | trans( {},'VSApplicationBundle' ) }} :: {{ book.name }}{% endblock %}

{% block pageTitle %}{{ 'vs_catalog.template.show_product' | trans( {},'VSCatalogBundle' ) }}: {{ book.name }}{% endblock %}

{% block breadcrumbs %}
    {{ parent() }}
    <span class="item"><a href="{{ path( 'vs_catalog_catalog_latest_products' ) }}">{{ 'vs_application.menu.catalog_products' | trans( {},'VSApplicationBundle' ) }} /</a></span>
    {{ book.name }}
{% endblock %}

{% block content %}
    {% set viewBookmark = readingRoomSettings.viewBookmark or is_granted( 'ROLE_SUPER_ADMIN' ) ? 'true' : 'false' %}
    {% set canOpenFile = readingRoomSettings.openFile or is_granted( 'ROLE_SUPER_ADMIN' ) ? 'true' : 'false' %}
    {% set canDownload = readingRoomSettings.download or is_granted( 'ROLE_SUPER_ADMIN' ) ? 'true' : 'false' %}
    {% set canPrint = readingRoomSettings.print or is_granted( 'ROLE_SUPER_ADMIN' ) ? 'true' : 'false' %}
    
    <section id="read-book" class="bookshelf py-1 my-1 mx-5 px-5">
        <div id="ReadBookContainer"
            class="justify-content-center ReadBookContainer"
            
            data-BookId="{{ book.id }}"
            data-BookLocale="{{ localeCode }}"
            
            data-UserId="{{ app.user ? app.user.id : 0 }}"
            data-UserName="{{ app.user ? app.user.info.fullName : '' }}"
            data-UserEmail="{{ app.user ? app.user.email : '' }}"
            data-UserAutoBookmark="{{ app.user and app.user.autoBookmark ? 'true' : 'false' }}"
            
            data-locale="{{ localeCode | replace( {'_': '-'} ) }}"
            data-BookUrl="{{ path( 'app_reading_room_read', {'id': book.id, 'locale': localeCode} ) }}"
            data-BookFileName="{{ book.name }}"
            data-openFile="{{ canOpenFile }}"
            data-viewBookmark="{{ viewBookmark }}"
            data-download="{{ canDownload }}"
            data-print="{{ canPrint }}"
        >     
            <app-pdf-viewer></app-pdf-viewer>
        </div>
    </section>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    
    {{ encore_entry_link_tags( 'js/read-book', null, 'BooksawBookStore' ) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    {{ encore_entry_script_tags( 'js/read-book', null, 'BooksawBookStore'  ) }}
{% endblock %}
