{% extends "@VSApplication/layout.html.twig" %}

{% if( item.id ) %}
	{% set pageTitle = 'vs_payment.template.product_update_title' | trans( {},'VSPaymentBundle' ) %}
{% else %}
	{% set pageTitle = 'vs_payment.template.product_create_title' | trans( {},'VSPaymentBundle' ) %}
{% endif %}

{% block title %}{{ parent() }} :: {{ pageTitle}}{% endblock %}
{% block pageTitle %}
    <h4 class="pageheader-title">
        <i class="ri-book-2-line"></i> 
        {{ pageTitle }}
    </h4>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <ul class="nav nav-pills nav-customs nav-danger mb-3" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" data-bs-toggle="tab" href="#nav-product-details-tab" role="tab" aria-selected="true">
                        {{ 'vs_catalog.template.details' | trans( {},'VSCatalogBundle' ) }}
                    </a>
                </li>
                {% if item.id %}
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-bs-toggle="tab" href="#nav-product-associations-tab" role="tab" aria-selected="true">
                            {{ 'vs_catalog.template.associations' | trans( {},'VSCatalogBundle' ) }}
                        </a>
                    </li>
                {% endif %}
            </ul>
            
            <div class="tab-content">
                <div class="tab-pane active show" id="nav-product-details-tab" role="tabpanel">
                    <div id="FormContainer" data-itemId="{{ item.id }}">
                        {% include '@VSCatalog/Pages/Products/partial/product_form.html.twig' %}
                    </div>
                </div>
                {% if item.id %}
                    <div class="tab-pane" id="nav-product-associations-tab" role="tabpanel">
                        {% include '@VSCatalog/Pages/Products/partial/product_associations_form.html.twig' %}
                    </div>
                {% endif %}
            </div>
		</div>
    </div>
{% endblock content %}

{% block head_styles %}
    {{ parent() }}
    
    {{ encore_entry_link_tags( 'js/books-edit', null, 'VelzonTheme' ) }}
    {{ encore_entry_link_tags( 'ckeditor5', null, 'VelzonTheme' ) }}
{% endblock %}

{% block body_scripts %}
    {{ parent() }}
   
    {{ encore_entry_script_tags( 'js/books-edit', null, 'VelzonTheme' ) }}
    {{ encore_entry_script_tags( 'ckeditor5', null, 'VelzonTheme' ) }}
{% endblock %}

