<!DOCTYPE html>
<html lang="{{ app.request.locale|slice(0, 2) }}">

    <head>
        <title>{% block title %}{{ applicationTitle | trans( {},'ReadingRoom' ) }}{% endblock %}</title>
        <link rel="shortcut icon" type="image/png" href="{{ asset( '/build/booksaw-book-store/images/client-image5.png' ) }}" />
        
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="format-detection" content="telephone=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="author" content="">
        <meta name="keywords" content="">
        <meta name="description" content="">
        
        {% block stylesheets %}
            {{ encore_entry_link_tags( 'css/app', null, 'BooksawBookStore' ) }}
            {{ encore_entry_link_tags( 'js/app', null, 'BooksawBookStore' ) }}
        {% endblock %}
    
    </head>
    
    <body tabindex="0" data-bs-spy="scroll" data-bs-target="#header" data-analyticsMeasurementId="{{ analyticsMeasurementId }}">
    
        <div id="header-wrap">
            {% include 'Layout/top.html.twig' %}
        </div><!--header-wrap-->
        
        {% block content %}{% endblock %}
        
        {% include 'Layout/footer.html.twig' %}
    
        {% block javascripts %}
            {{ encore_entry_script_tags( 'js/app', null, 'BooksawBookStore' ) }}
        {% endblock %}
        
    </body>

</html>