{% extends "base.html.twig" %}

{% block title %}{{ parent() }} :: {{ 'vs_application.menu.catalog_products' | trans( {},'VSApplicationBundle' ) }} :: {{ product.name }}{% endblock %}
{% block pageTitle %}{{ 'vs_catalog.template.show_product' | trans( {},'VSCatalogBundle' ) }}: {{ product.name }}{% endblock %}

{% block breadcrumbs %}
    {{ parent() }}
    <span class="item"><a href="{{ path( 'vs_catalog_catalog_latest_products' ) }}">{{ 'vs_application.menu.catalog_products' | trans( {},'VSApplicationBundle' ) }} /</a></span>
    {{ product.name }}
{% endblock %}

{% block content %}
    {% if product.pictures.first %}
        {% set productPicture = path( 'vs_cms_images_filesystem_get_file', { file: picturesPath ~ '/' ~ product.pictures.first.path } ) %}
    {% else %}
        {% set productPicture = '/build/bootstrap-shop-theme/images/products/6.jpg' %}
    {% endif %}
    
    <section class="bg-sand padding-medium">
        <div class="container">
            <div class="row">

                <div class="col-md-5">
                    <a href="#" class="product-image">
                        <img src="{{ productPicture }}">
                    </a>
                </div>

                <div class="col-md-7 pl-5">
                    <div class="product-detail">
                        <h1>{{ product.name }}</h1>
                        
                        {% for localeCode, bookType in bookTranslations %}
                            {% set linkTitle = 'reading_room.template.read_book' | trans( {},'ReadingRoom' ) ~ ' in ' ~ localeCode %}
                            
                            {% if bookType == 'html' %}
                                <a href="{{ path( 'app_reading_room_read_html_book', {'locale': localeCode, 'productSlug': product.slug} ) }}"
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="top"
                                    title="{{ linkTitle }}"
                                >
                                    <i class="flag flag-{{ localeCode | split( '_' )[1] | lower }}"></i>
                                </a>
                            {% else %}
                                <a href="{{ path( 'app_reading_room_read_pdf_book', {'locale': localeCode, 'productSlug': product.slug} ) }}"
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="top"
                                    title="{{ linkTitle }}"
                                >
                                    <i class="flag flag-{{ localeCode | split( '_' )[1] | lower }}"></i>
                                </a>
                            {% endif %}
                            {% if not loop.last %}&nbsp;{% endif %}
                        {% endfor %}
                        
                        <div id="ProductDescriptionContainer" class="mt-3">
                            {{ product.description | raw }}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    
    {#
    {% include '@VSCatalog/Pages/Catalog/partial/discover_section.html.twig' %}
    #}
    
    {{ vs_widget_render( 'books-discover-section', ['book-suggestions'] ) }}
    
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    
    {{ encore_entry_link_tags( 'js/show-book', null, 'BooksawBookStore' ) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    <script type="text/javascript">
        var productSlug = '{{ app.request.get( 'productSlug' ) }}';
    </script>
    {{ encore_entry_script_tags( 'js/show-book', null, 'BooksawBookStore'  ) }}
{% endblock %}
