{% extends "@VSApplication/layout.html.twig" %}

{# Import Macros #}
{% from '@SyliusResource/Macros/actions.html.twig' import create %}
{% import "@VSApplication/Macros/form.html.twig" as vs_form %}

{% if( item.id ) %}
    {% set pageTitle = ( 'reading_room.template.page_title_reading_room_settings_update' | trans( {},'ReadingRoom' ) ) ~ ': ' ~ item.settingsKey %}
{% else %}
    {% set pageTitle = 'reading_room.template.page_title_reading_room_settings_create' | trans( {},'ReadingRoom' ) %}
{% endif %}

{% block title %}{{ parent() }} :: {{ pageTitle }}{% endblock %}
{% block pageTitle %}
    <h4 class="pageheader-title">
        <i class="ri-settings-5-line"></i> 
        {{ pageTitle }}
    </h4>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
            	<h5 class="card-header">{{ 'reading_room.template.page_title_reading_room_settings_details'  | trans( {},'ReadingRoom' ) }}</h5>
            	
            	{% if(item.id) %}{% set method = "PUT" %}{% else %}{% set method = "POST" %}{% endif %}
                {{ form_start(form, { 'attr': {'class': 'form-horizontal ', 'id': 'FormVideoPlatformSettings'}, 'method': method }) }}
                
                    <div class="card-body">
                    
                        {% if form_errors(form) is not empty %}
                            <div class="alert alert-block alert-danger fade in">
                                <button type="button" class="close close-sm" data-dismiss="alert">
                                    <i class="icon-remove"></i>
                                </button>
                                <strong>Error!</strong> {{ form_errors(form) }}
                            </div>
                        {% endif %}
                        
                        <div class="form-group">
                            {{ form_label(form.settingsKey, null, {
                                'label_attr': {'class': 'col-form-label'}
                                }) 
                            }}
                            
                            {{ form_widget(form.settingsKey, {'attr': {'class': 'form-control'}}) }}
                            
                            <p>{{ 'reading_room.form.reading_room_settings.settings_key_help'  | trans( {},'ReadingRoom' ) }}</p>
                        </div>
                        
                        <div class="form-group">
                            {{ form_label(form.bookSuggestionsAssociationType, null, {
                                'label_attr': {'class': 'col-form-label'}
                                }) 
                            }}
                            
                            {{ form_widget(form.bookSuggestionsAssociationType, {'attr': {'class': 'form-select'}}) }}
                        </div>
                        
                    </div>
                        
                	<h5 class="card-header sub-header">{{ 'reading_room.form.reading_room_settings.ng2_pdfjs_viewer_settings'  | trans( {},'ReadingRoom' ) }}</h5>
                	<div class="card-body">
                	   
                	   <div class="form-group">
                    	   <label class="custom-control custom-checkbox" for="reading_room_settings_form_openFile">  
                                <input type="checkbox" id="reading_room_settings_form_openFile"
                                    class="custom-control-input"
                                    name="reading_room_settings_form[openFile]"
                                    value="{{ item.openFile }}"
                                    {% if item.openFile %}checked="checked"{% endif %}
                                />
                                <span class="custom-control-label">{{ form.openFile.vars.label | trans( {}, 'ReadingRoom' ) }}</span>
                            </label>
                        </div>
                        
                        <div class="form-group">
                           <label class="custom-control custom-checkbox" for="reading_room_settings_form_viewBookmark">  
                                <input type="checkbox" id="reading_room_settings_form_viewBookmark"
                                    class="custom-control-input"
                                    name="reading_room_settings_form[viewBookmark]"
                                    value="{{ item.viewBookmark }}"
                                    {% if item.viewBookmark %}checked="checked"{% endif %}
                                />
                                <span class="custom-control-label">{{ form.viewBookmark.vars.label | trans( {}, 'ReadingRoom' ) }}</span>
                            </label>
                        </div>
                        
                        <div class="form-group">
                           <label class="custom-control custom-checkbox" for="reading_room_settings_form_download">  
                                <input type="checkbox" id="reading_room_settings_form_download"
                                    class="custom-control-input"
                                    name="reading_room_settings_form[download]"
                                    value="{{ item.download }}"
                                    {% if item.download %}checked="checked"{% endif %}
                                />
                                <span class="custom-control-label">{{ form.download.vars.label | trans( {}, 'ReadingRoom' ) }}</span>
                            </label>
                        </div>
                        
                        <div class="form-group">
                           <label class="custom-control custom-checkbox" for="reading_room_settings_form_print">  
                                <input type="checkbox" id="reading_room_settings_form_print"
                                    class="custom-control-input"
                                    name="reading_room_settings_form[print]"
                                    value="{{ item.print }}"
                                    {% if item.print %}checked="checked"{% endif %}
                                />
                                <span class="custom-control-label">{{ form.print.vars.label | trans( {}, 'ReadingRoom' ) }}</span>
                            </label>
                        </div>
                        
                	</div>
                	
                    <div class="card-body">
                        {{ vs_form.buttons( form, metadata ) }}
                    </div>
                
                {{ form_end(form, {'render_rest': false}) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block head_styles %}
	{{ parent() }}
	
	{{ encore_entry_link_tags( 'js/reading-room-settings-edit', null, 'VelzonTheme' ) }}
{% endblock %}

{% block body_scripts %}
    {{ parent() }}
    
    {{ encore_entry_script_tags( 'js/reading-room-settings-edit', null, 'VelzonTheme' ) }}
{% endblock %}
