<div class="top-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="social-links">
                    <ul>
                        <li>
                            <a href="#"><i class="icon icon-facebook"></i></a>
                        </li>
                        {#  
                        <li>
                            <a href="#"><i class="icon icon-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="icon icon-youtube-play"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="icon icon-behance-square"></i></a>
                        </li>
                        #}
                    </ul>
                </div><!--social-links-->
                
            </div>
            <div class="col-md-6">
                <div class="right-element">
                
                    {% if app.user %}
                        <a href="{{ path( 'vrr_profile_show' ) }}" class="user-account for-buy">
                            <i class="icon icon-user"></i>
                            <span>{{ 'reading_room.template.account' | trans( {},'ReadingRoom' ) }}</span>
                        </a>
                        {#
                        <a href="#" class="cart for-buy">
                            <i class="icon icon-clipboard"></i>
                            <span>Cart:(0 $)</span>
                        </a>
                        #}
                    {% else %}
                        {{ vs_widget_render( 'reading-room-layout', ['application-authentication'] ) }}
                    {% endif %}
                
                    <div class="action-menu">
                        <div class="search-bar">
                            <a href="#" class="search-button search-toggle" data-selector="#header-wrap">
                                <i class="icon icon-search"></i>
                            </a>
                            <form role="search" method="get" class="search-box">
                                <input class="search-field text search-input" placeholder="Search"
                                    type="search">
                            </form>
                        </div>
                    </div>
                    
                    <div class="dropdown ms-3 float-end topbar-head-dropdown header-item pt-1">
                        {% set currentLang = ( app.request.locale | split( '_' ) )[1] | lower %}
                        {% set currentFlag = 'build/booksaw-book-store/images/flags/' ~ currentLang ~ '.svg' %}
                        <a type="button" class="rounded-circle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="{{ asset( currentFlag ) }}" alt="Header Language" height="20" class="rounded">
                        </a>
                        
                        {{ vs_widget_render( 'reading-room-layout', ['application-menu-locales'] ) }}
                    </div>
                    
                </div><!--top-right-->
            </div>

        </div>
    </div>
</div><!--top-content-->