<h1>{{ 'reading_room.template.register.confirmation_email_hello' | trans( {},'ReadingRoom' ) }}</h1>
<h2>{{ 'reading_room.template.register.confirmation_email_description' | trans( {},'ReadingRoom' ) }}</h2>

<p>
    {{ 'vs_users.template.register_confirmation_email_text_1' | trans( {},'VSUsersBundle' ) }}<br><br>
    <a href="{{ signedUrl|raw }}">{{ 'vs_users.template.register_confirmation_email_text_2' | trans( {},'VSUsersBundle' ) }}</a>.
    {{ 'vs_users.template.register_confirmation_email_text_3' | trans( {},'VSUsersBundle' ) }} {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    {{ 'vs_users.template.register_confirmation_email_text_4' | trans( {},'VSUsersBundle' ) }}
</p>
