{% extends "base-login.html.twig" %}

{% block content %}
	<!-- authorization form -->
	{{ form_start(form, { 'attr': {'class': 'sign__form'} }) }}
        <a href="{{ path( 'app_home' ) }}" class="sign__logo">
            <img src="{{ asset( 'build/holeshunter-theme/theme-images/hunter_transparent.svg' ) }}" alt="{{ applicationTitle }}">
        </a>

        {% if formErrors.count %}
            <ul class="sign__group sign__errors">
                {% for error in formErrors %}
                    <li>
                        {{ error.message }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        
        {# For Email Not Found Error #}
        {% if formError %}
            <ul class="sign__group sign__errors">
                <li>{{ formError | trans( {},'VanzVideoPlayer' ) }}</li>
            </ul>
        {% endif %}
        
        {{ form_widget( form._token ) }}
        
        <div class="sign__group">
            {{ form_widget(form.email, {'attr': {'class': 'sign__input', 'autocomplete': 'off', 'placeholder': form.email.vars.label|trans }}) }}
        </div>

        {#
        <div class="sign__group sign__group--checkbox">
            <input id="remember" name="remember" type="checkbox" checked="checked">
            <label for="remember">I agree to the <a href="{{ path( 'vs_cms_pages_show_by_slug', {'slug': 'privacy-policy'} ) }}">Privacy policy</a></label>
        </div>
        #}
        
        <button class="sign__btn" type="submit"><span>{{ 'vs_vvp.form.forgot_password.recover' | trans( {},'VanzVideoPlayer' ) }}</span></button>

        <span class="sign__text text-center">{{ 'vs_vvp.form.forgot_password.we_will_send' | trans( {},'VanzVideoPlayer' ) }}</span>
    {{ form_end(form, {'render_rest': false}) }}
    <!-- end authorization form -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    {{ encore_entry_script_tags( 'js/static-page', null, 'HoleshunterTheme' ) }}
{% endblock %}
