{% import "@VSApplication/Macros/translations.html.twig" as vs_translations %}

 <div class="tab-content">
                    
    <div id="all-genre" data-tab-content class="active">
    
        {% for productsRow in products | batch( 4 ) %}
            <div class="row">

                {% for product in productsRow %}
                    
                    {% if product.pictures.first %}
                        {% set productPicture = product.pictures.first.path | imagine_filter( 'index_page_thumbnail' ) %}
                    {% else %}
                        {% set productPicture = '/build/bootstrap-shop-theme/images/products/6.jpg' %}
                    {% endif %}
                    
                    <div class="col-md-3">
                        <div class="product-item">
                            <figure class="product-style">
                                <a href="{{ path( 'vs_catalog_catalog_product_show', {'categorySlug': 'latest', 'productSlug': product.slug} ) }}">
                                    <img src="{{ productPicture }}" alt="{{ product.name }}" class="product-item">
                                </a>
                                {#
                                <button type="button" class="add-to-cart" data-product-tile="add-to-cart">
                                    Add to Cart
                                </button>
                                #}
                            </figure>
                            <figcaption>
                                <a href="{{ path( 'vs_catalog_catalog_product_show', {'categorySlug': 'latest', 'productSlug': product.slug} ) }}">
                                    <h3>{{ product.name }} {{ vs_translations.flags( translations[product.id] | keys ) }}</h3>
                                </a>
                                <span>
                                    {% for author in product.authors %}
                                        <a href="{{ path( 'app_reading_room_author_details', {'slug': author.slug} ) }}">
                                            {{ author.name }}
                                        </a>
                                        {% if not loop.last %}, {% endif %}
                                    {% endfor %}
                                </span><br />
                                <span>
                                    {% for genre in product.genres %}
                                        {{ genre.name }}{% if not loop.last %}, {% endif %}
                                    {% endfor %}
                                </span>
                                
                                {% if readingRoomSettings.showPrice %}
                                    <div class="item-price">{{ product.price }} {{ product.currencyCode | vs_currency_symbol }}</div>
                                {% endif %}
                            </figcaption>
                        </div>
                    </div>
                    
                {% endfor %}
                
            </div>
        {% endfor %}

    </div>
    
</div>

{% if products.haveToPaginate() %}
    {{ pagerfanta( products, null, { 'proximity': 10 } ) }}
{% endif %}